@using System.Web.UI.WebControls
@model VETPRO2.Models.AnimalInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnimalInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalSpecies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalSpecies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalBreed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalBreed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalEstimatedWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalEstimatedWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnimalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<h2>Owner Page</h2>
<p>
    @Html.ActionLink("Owner", "Details", "OwnerInfoes", new { id = Model.AnimalId }, null)
</p>
<h2>More Animal Info</h2>
<p>
    @Html.ActionLink("Behavior", "Details", "AnimalBehaviors", new {id = Model.AnimalId}, null) |
    @Html.ActionLink("History", "Details", "AnimalHistories", new {id = Model.AnimalId}, null) |
    @Html.ActionLink("Chips", "Details", "ChipIdentifications", new {id = Model.AnimalId}, null) |
    @Html.ActionLink("Insurance", "Details", "Insurances", new {id = Model.AnimalId}, null) |
    @Html.ActionLink("Secondary Contact", "Details", "SecondaryContacts", new {id = Model.AnimalId}, null) |
    @Html.ActionLink("Additional Contacts", "Details", "AdditionalContacts", new {id = Model.AnimalId}, null) |
    @Html.ActionLink("Additional Information", "Details", "AdditionalPetInfoes", new {id = Model.AnimalId}, null) |
</p>
<p>
    @Html.ActionLink("Shelter Operations", "Index", "ShelterOperations", new { id = Model.AnimalId }, null) |
    @Html.ActionLink("Tracking", "Index", "TrackingOperations", new { id = Model.AnimalId }, null) |
    @Html.ActionLink("Medical History", "Index", "MedicalHistories", new { id = Model.AnimalId }, null)
</p>
