@{
    Layout = "~/Views/Shared/Facility.cshtml";
}
@model IEnumerable<VETPRO2.Models.AnimalInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Home")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnimalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalSpecies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalBreed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalEstimatedWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalSpecies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalBreed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalEstimatedWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
