@{
    Layout = "~/Views/Shared/Facility.cshtml";
}
@model VETPRO2.Models.AnimalBehavior

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnimalBehavior</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AggressionComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AggressionComments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
</p>
