@model VETPRO2.Models.AdditionalPetInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdditionalPetInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Belongings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Belongings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
