@model VETPRO2.Models.ChipIdentification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChipIdentification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MicrochipNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MicrochipNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EartagNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EartagNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
